/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f685eece04b1280306e432f6f0f7f68e:a36517d4dd63e1dfa1814f1633f15260:815db36de5798f499e7eaf976d9d316d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(big_red.png);}

.frame-1 {width:843px; height:580px; background-position: -2px -2px}
.frame-2 {width:843px; height:580px; background-position: -847px -2px}
.frame-3 {width:843px; height:580px; background-position: -1692px -2px}
.frame-4 {width:843px; height:580px; background-position: -2537px -2px}
